 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-form navbar-left">
          <a class="navbar-brand" href="/">Home</a>
        </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <a class="navbar-brand" href="/sign">Sign up</a>
              <a class="navbar-brand" href="/logout">Log out</a>
            </div>
          </form>  
        </div>
    </nav>
