body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: color;
}
/*
.jumbotron {
background: url("../images/Cliff_House_from_Ocean_Beach.jpg") no-repeat center center !important;
background-size: cover;
}*/
/*.jumbotron {
    background: url("Cliff_House_from_Ocean_Beach.jpg") no-repeat center center !important; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}*/

h2 {
  font-size: 40px;
  color: maroon;
}
h3 {
  color: maroon;
}
.img{
  background-size: cover;
}
.jumbotronTransp {
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
 background-color: transparent;
} 
  
#test {
  background: url("http://i.imgur.com/8dS0M6G.jpg") no-repeat center center;

}