body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #2E2E2E;
  color: black;
}


h2 {
  font-size: 40px;
  color: maroon;
}
h3 {
  color: maroon;
}
h5 {
  color: white;
}
a {
    color: #084B8A;
}
#cont {
  background-color: #2E2E2E;
}
#one {
    border-style: inset;
    border-color: #2E3B0B;
    border-width: 5px;
    background-color: #F5ECCE;
}

#two {
    border-style: inset;
    border-color: #98bf21;
    border-width: 5px;
}

.jumbotronTransp {
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
 background-color: transparent;
} 
  
#test {
  background: url("http://i.imgur.com/8dS0M6G.jpg") no-repeat center center;

}
#pic1 {
  background: url("http://upload.wikimedia.org/wikipedia/commons/b/b6/Golden_Gate_-_Lands_End_-_Point_Lobos_2009.jpg")no-repeat center center;;
}
#pic2 {
  background: url("https://farm4.staticflickr.com/3126/2596125700_5910e1b08b_o.jpg")no-repeat center center;
}
#pic3 {
  background: url("http://i.imgur.com/fwwtkUr.png")no-repeat center center;
}
#pic4 {
  background: url("http://sfcitizen.com/blog/wp-content/uploads/2012/02/img_1055-copy1.jpg")no-repeat center center;
  background-size: cover;
}
#white {
  font-weight: bold;
}

 
#par {
  color:white;
}

footer {
  background-color: #1C1C1C;
  color: grey;
  bottom:0;
  width:100%;
}
