<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> This is where a list of Activities will go. </h1>
<p>I will attach some comments to each category on this page. The user can then click to get more detailed information about specific businesses from yelp.</p

<br>

<a href="/museums">Museums</a><br>
<a href="/kids">Kid Activities</a><br>
<a href="/parks">Parks</a><br>

</body>
</html>