<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>

<h1> This is where a list of dining options will go. </h1>

<p>I will attach some comments to each category on this page. The user can then click to get more detailed information for specific businesses from yelp.</p

<br>

<a href="/coffeeshops"> Coffe Shops </a><br>
<a href="/restaurants"> Restaurants </a><br>
<a href="/bars"> Bars </a><br>

</body>
</html>