<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

  <header>
    <% include ../partials/header5%>
   </header>

<body>

<div class="jumbotron" id="pic4">
      <div class="container">
      <h2>Hello <i><%= user.email %> </i></h2>
      <br>
   </div>
 </div>
  <div class="container" id="whte">
       <div class="row">
          <div class="col-md-12" id="white">
        <h6>Your Favorites:</h6>
	<ul>
			<% bus.forEach(function (p){ %>
				<li id="taco">
				<h5> <%= p.businessName %> </h5>
				</li>
			<% }); %>
	 </ul>
  </div>
  </div>
</div>

              
        <p><center><a class="btn btn-primary btn-lg" href="/" role="button"> Search more businesses &raquo;</a></center></p>
      </div>
    </div>

  </div>
</body>
</html>
