<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Project One GA" content="">
    <meta name="Emily Hittl" content="">

    <title>Outer Sunset</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body id="cont">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-form navbar-left">
          <a class="navbar-brand" href="/">Greetings Airbnb Guests!</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
              <a class="navbar-brand" href="/login">Log In</a>
            </div>
            
  </form>
        
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="test">
      <div class="container" id="ob">
        <h2>Welcome to the Outer Sunset</h2>
        <h3>Browse local businesses and activities.</h3>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up &raquo;</a></p>
      
<br>
      </div>
    </div>

    <div class = "container">
      <div class="row">
        <div class="col-md-4" id="one">
          <h2>Dining</h2>
           <ul>
            <li><a href="/coffeeshops"><h4>Coffee Shops</h4></a></li>
            <li><a href="/restaurants"><h4>Restaurants</h4></a></li>
            <li><a href="/bars"><h4>Bars</h4></a></li>
          </ul>
          
        </div>
        <div class="col-md-4" id="one">
          <h2>Travel</h2>
          <ul>
            <li><a href="/cabs"><h4>Cab Services</h4></a></li>
            <li><a href="/publictransit"><h4>Public Transit</h4></a></li>
            <li><a href="/biking"><h4>Biking</h4></a></li>
          </ul>
       </div>
        <div class="col-md-4" id="one">
          <h2>Activities</h2>
           <ul>
            <li><a href="/museums"><h4>Museums</h4></a></li>
            <li><a href="/parks"><h4>Parks</h4></a></li>
            <li><a href="/kids"><h4>Kids</h4></a></li>
          </ul>
        </div>

        <p> Are you looking for something not listed? Cick below to create a unique search.</p>       
        <p><center><a class="btn btn-primary btn-lg" href="/search" role="button">Refine My Search &raquo;</a></center></p>
      </div>
    </div>
   <div>
      <footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
</div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>