<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Outer Sunset</title>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

  <h1>Welcome to the Outer Sunset</h1>


  <a href="/signup">Sign Up</a><br>
  <a href="/login">Sign into your existing account.</a><br>
  <a href="/profile">Profile Page</a><br>
  <br>
  <br>
  <a href="/activities">Activities</a><br>
  <a href="/dining">Dining</a><br>
  <a href="/travel">Travel</a><br>



    <% /* Add bootstrap, make boxes for homepage */ %>

    <% /*if user is logged in, place a "welcome + email" message on top right corner of home page. Add to other pages as well - how to do this in one step instead of on each individual page?? */ %>
</body>
</html>