<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="GET" action="/search">
    <input type="text" name="q" placeholder="Search">
    <button>Submit</button>
  </form>

<p> Businesses: </p> <% businesses.forEach(function(business){ %>
	<ul>
		<li>Name: <%= business.name %></li>
		<li>Phone: <%= business.display_phone %></li>
		<li><embed src="<%= business.image_url %>"></li>
		<li>Rating:<%= business.rating %></li>

	</ul>
<% }) %>
</body>
</html>