<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>

<body>
<form method="GET" action="/search">
    <input type="text" name="q" placeholder="Search">
    <button>Submit</button>
  </form>

<p> Businesses: </p> <% businesses.forEach(function(business){ %>
	<ul>
		<li>Name: <%= business.name %></li>
		<li>Phone: <%= business.display_phone %></li>
		<li><embed src="<%= business.image_url %>"></li>
		<li>Rating:<%= business.rating %></li>
		https://s3-media4.fl.yelpassets.
		<li>embed src="https://s3-media4.fl.yelpassets.com/assets/2/www/img/9d213bfb766e/logo/logo_tiny.png"></li>

	</ul>
<% }) %>
</body>
</html>