<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> This is where a list of travel options will go. </h1>
<p>I will attach comments to each of the categories on this page. The user can then click to get more detailed information about specific businesses from yelp.</p

<br>

<a href="/cabs">Cab Services</a><br>
<a href="/publictransit">Public Transit</a><br>
<a href="/biking">Biking options</a><br>

</body>
</html>