<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/head %>
</head>
  <header>
    <% include ../partials/header2 %>
   </header>
  

  <div class="jumbotron" id="pic2">
      <div class="container">
        <br>
        <br>
        <h2>Greetings!</h2>
        <h3> Please log in to browse local businesses and create a list of your favorite places. </h3>
        <% if(error !== null) { %>
          <p><strong style="color: red"><%= error %></strong></p>
        <% } %>
    <form method="POST" action="/login"> 
    <div>
      <input type="text" name="email" placeholder="email">
    </div>
    <div>
      <input type="password" name="password" placeholder="password">
    </div>
    <br>
    <button class="btn btn-primary btn-lg">Login</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
     

      <footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
    </div> <!-- /container -->
