<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/head %>
</head>
  <header>
    <% include ../partials/header2 %>
   </header>
  

  <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <h2>Oops! It looks like you have not created a profile yet.</h2>
       
    <form method="POST" action="/signup"> 
    <div>
      <input type="text" name="email" placeholder="email">
    </div>
    <div>
      <input type="password" name="password" placeholder="password">
    </div>
    <br>
    <br>
    <p><button class="btn btn-primary btn-lg">Sign Up</button>
  </form>
</div>
      <hr>

      <footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
    </div> <!-- /container -->
