<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> Profile Page </h1>


Landing page after logging in.
Hello <%= user.email %> and favorites.

<br>
<br>

<br>
<br>
<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>
</body>
</html>