<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

  <header>
    <% include ../partials/header3%>
   </header>

<body>

<div class="jumbotron" id="pic3">
      <div class="container">
     	<h2>Hello <i><%= user.email %> </i></h2>
        <h4>Please take some time to view the wonderful eateries, parks and other attractions in the Outer Sunset. If you find something you like, click the favorite button (below each business description) and it will be saved to your favorites. </h4>
        <br>
        <br>
   </div>
 </div>
 <div class = "container">
      <div class="row">
        <div class="col-md-4" id="one">
          <h2>Dining</h2>
           <ul>
            <li><a href="/coffeeshops"><h4>Coffee Shops</h4></a></li>
            <li><a href="/restaurants"><h4>Restaurants</h4></a></li>
            <li><a href="/bars"><h4>Bars</h4></a></li>
          </ul> 
        </div>

        <div class="col-md-4" id="one">
          <h2>Travel</h2>
          <ul>
            <li><a href="/cabs"><h4>Cab Services</h4></a></li>
            <li><a href="/publictransit"><h4>Public Transit</h4></a></li>
            <li><a href="/biking"><h4>Biking</h4></a></li>
          </ul>
        </div>
        
        <div class="col-md-4" id="one">
          <h2>Activities</h2>
           <ul>
            <li><a href="/museums"><h4>Museums</h4></a></li>
            <li><a href="/parks"><h4>Parks</h4></a></li>
            <li><a href="/kids"><h4>Kids</h4></a></li>
          </ul>
        </div>
       </div> 
            <br>
           <br> 

        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <h5> Don't see what you are looking for? </h5>
          </div>
          <div class="col-sm-4" 
            <p><a class="btn btn-primary btn-lg" href="/search" role="button">Refine My Search&raquo;</a></p>
          </div>
        </div> 
    </div>
      <footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
    </div>
</div>
 

</body>
</html>