<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
  <header>
    <% include ../partials/header%>
   </header>
  <body>

  <div class="jumbotron" id="pic1">
      <div class="container" >
      
        <h2>Glad you are here!</h2>

        <h3>Please sign up to browse and create a list of favorite places.</h3>

        <form method="POST" action="/signup"> 
    <div>
      <input type="text" name="email" placeholder="email" >
    </div>
    <div>
      <input type="password" name="password" placeholder="password">
    </div>
    <br>
    <br>
    <p><button class="btn btn-primary btn-lg">Sign Up</button>
  </form>
  <br>
         <br>
          <br>
           <br>
            <br> 
             <br>
              <br>
              <br>
      </div>
    </div> 

<footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
</body>
</html>



