<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header2 %>
   </header>
  
  <div class="jumbotron">
      <div class="container">
        <h2>Glad you are here!</h2>

        <p>Please sign up to browse andcreate a list of favorite places.</p>
        <form method="POST" action="/signup"> 
    <div>
      <input type="text" name="email" placeholder="email">
    </div>
    <div>
      <input type="password" name="password" placeholder="password">
    </div>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Log In &raquo;</a></p>
  </form>
        
      </div>
    </div>  
</body>
</html>



