<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
  <header>
    <% include ../partials/header2%>
   </header>
  <body>

  <div class="jumbotron">
      <div class="container">
        <h2>Glad you are here!</h2>

        <p>Please sign up to browse and create a list of favorite places.</p>
        
        <form method="POST" action="/signup"> 
    <div>
      <input type="text" name="email" placeholder="email">
    </div>
    <div>
      <input type="password" name="password" placeholder="password">
    </div>
    <br>
    <br>
    <p><button>Sign Up</button>
  </form>
        
      </div>
    </div>  
<footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
</body>
</html>



